<h1>Oops!</h1>
<h3>Error {{status}} - Not Found</h3>
<p>Sorry, an error has occurred. The resource you requested has not been found</p>
<button type="button" class="btn btn-primary"><span class=".glyphicon glyphicon-home"></span>  Home</button>
<button type="button" class="btn btn-secondary"><span class=".glyphicon .glyphicon-envelope"></span>  Contact</button>