<div class="alert alert-primary" role="alert">
    <h3>Quienes Somos</h3>
    <p>
        GeeksHubs Agency es una agencia de viajes española, radicada en Valencia, que ofrece un servicio distinto, rompiendo los esquemas y la forma tradicional del mercado; nos preocupamos por las necesidades reales de nuestros clientes, ofreciéndoles una experiencia que considerarán única, logrando reflejar personalidad, estilo de vida en sus viajes hacia el exterior del territorio español.
        <br/>
        En la Agencia de Viajes, entendemos que cada viaje debe vivirse siempre con pasión y ser inolvidable. Es por eso que ofrecemos un servicio ágil e innovador, aprovechando la tecnología para satisfacer las diferentes necesidades de una forma rápida y moderna.
        <br/>
    </p>
    <div class="alert alert-dark" role="alert">
        <h5>
            NUESTRA MISIÓN:
        </h5>
        <p>
            Somos una agencia de viajes española, que ofrece un servicio distinto, rompiendo los esquemas y la forma tradicional del mercado; nos preocupamos por las necesidades reales de nuestros clientes, ofreciéndoles una experiencia que consideren única, logrando reflejar su personalidad y estilo de vida en sus al exterior del territorio español.
        </p>
    </div>
    <div class="alert alert-dark" role="alert">
        <h5>
            NUESTRA VISIÓN:
        </h5>
        <p>
            Ser la agencia de viajes líder en España, diferenciándonos por la excelente calidad, creatividad e innovación de nuestra oferta de servicios, con el compromiso de promover las ofertas de viajes en el mundo entero.
        </p>
    </div>
    <p>
        GeeksHubs Agency está conformada por profesionales con experiencia en el área de turismo, y que están listos para acompañar a cada cliente en todo el proceso de su viaje.
    </p></br>
    <p>
        Nuestros profesionales tienen experiencia en los siguientes campos:
    </p>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Vuelos internacionales, reservas y asesoría</li>
        <li class="list-group-item list-group-item-success">Paquetes turísticos internacionales, reservas y asesoría</li>
        <li class="list-group-item list-group-item-success">Actividades en lugares de destino y autos, reservas y asesoría</li>
        <li class="list-group-item list-group-item-success">Atención VIP a clientes corporativos</li>
        <li class="list-group-item list-group-item-success">Organización de eventos y convenciones</li>
        <li class="list-group-item list-group-item-success">Atención personalizada a través de canales tradicionales y electrónicos</li>
        <li class="list-group-item list-group-item-success">Generación y manejo de campañas y promociones para los clientes</li>        
    </ul>
    </br>
    <p>
        Con nosotros, ¡Vive la increible experiencia de un viaje hecho a tu medida!
    </p>
</div>
<button type="submit" class="btn btn-primary" onclick='location.href="http://localhost:3000/home"'>Home</button>