header{
    
    background-image: url("../images/headerbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    display: -webkit-flex;
    display:         flex;
   -webkit-flex-flow: column;
           flex-flow: column;
    flex-direction: column;
}

header .icono-menu{
    -webkit-flex: 1 2 30%;
           flex: 1 2 30%;
    display: -webkit-flex;
    display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
}

header .icono-menu .logo{
    -webkit-flex: 3 1 25%;
           flex: 3 1 25%;
    -webkit-order: 1;
            order: 1;
    justify-content: center;
    margin-left: 15px;
    margin-top: 12px;
}

header .icono-menu .menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-decoration-style: none;
    -webkit-flex: 3 1 50%;
    flex: 3 1 50%;
    -webkit-order: 2;
    order: 2;
    margin-top: 20px;
    
}

header .icono-menu .redes{
    -webkit-flex: 3 1 25%;
    flex: 3 1 25%;
    -webkit-order: 3;
    order: 3;
    justify-content:end;
    margin-right: 15px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 25px);
    grid-template-rows: minmax(25px, auto);
    grid-gap: 2px 2px;
}

.menu div a{
    align-content: stretch;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 7px;
    margin-right: 7px;

}

.redes img{
    width: 25px;
    height: 25px;
}

header .contenido{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    display: block;
    text-align: center;
}
header .contenido .texto1{
    display: inline-block;
    width: 475px;
    text-align: left;
    color: white;
    font-size: 60px;
}
header .contenido .texto2{
    color: white;
    font-size: 35px;
    margin-top: -30px;
}

header .contenido .boton{
    padding-top: 40px;
}

header .contenido .boton .btn-warning{
    font-size: 30px;
}

header .completar{
    height: 250px;
}

/*<!-----------------CONTENIDO (OFERTAS)-------------------->*/

section .container {
    padding-top:20px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagen {
	width: 275px;
	height:225px;
	transition:all .2s ease-in-out;
}

.imagen:hover {
	transform:scale(1.05);
}

.description {
	height:50px;
	background-color:black;
	color:#fff;
}

.price {
	height:75px;
	background-color:yellow;
	font-size:30px;
	font-weight:bold;
}

.price>p {
	color:black;
	text-decoration: none;
}

section .container p {
	padding-top:10px;
	text-align:center;
}

a:hover {
	text-decoration: none;
}


#pekin {
	background-image:url("https://raw.githubusercontent.com/GeeksHubsAcademy/Actividad_1/master/img/beijing.JPG");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#baires {
	background-image:url("https://raw.githubusercontent.com/GeeksHubsAcademy/Actividad_1/master/img/buenos_aires.JPG");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#mexico {
	background-image:url("https://raw.githubusercontent.com/GeeksHubsAcademy/Actividad_1/master/img/ciudad_mexico.JPG");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#madrid {
	background-image:url("https://raw.githubusercontent.com/GeeksHubsAcademy/Actividad_1/master/img/madrid.JPG");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#ny {
	background-image:url("https://raw.githubusercontent.com/GeeksHubsAcademy/Actividad_1/master/img/new_york.JPG");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#tokyo {
	background-image:url("https://raw.githubusercontent.com/GeeksHubsAcademy/Actividad_1/master/img/tokyo.JPG");
	background-size:100% 100%;
	background-repeat:no-repeat;
}


.mapa{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mapa .datos{
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

/*<------footer------->*/
footer .datos-finales{
    background-color: rgb(10, 10, 56);
    width: 100%;
    height: 280px;
    padding-top:32px;
    display: -webkit-flex;
    display:         flex;
   -webkit-flex-flow: column;
           flex-flow: column;
    flex-direction: row;
}

footer a{
    color: white;
}

footer .datos-finales .espacio-inicial{
    -webkit-flex: 4 1 10%;
           flex: 4 1 10%;
    -webkit-order: 1;
            order: 1;
}


footer .datos-finales .contacto{
    -webkit-flex: 4 2 25%;
           flex: 4 2 25%;
    -webkit-order: 2;
            order: 2;
}
footer .datos-finales .contacto a{
    pointer-events: none;

}

footer .datos-finales .datos{
    -webkit-flex: 4 3 20%;
           flex: 4 3 20%;
    -webkit-order: 3;
            order: 3;
}


footer .datos-finales .suscripcion{
    -webkit-flex: 4 4 45%;
           flex: 4 4 34%;
    -webkit-order: 4;
            order: 4;
    
}

footer .datos-finales .redes-sociales{
    margin-right: 15px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(6, 32px);
    grid-template-rows: minmax(32px, auto);
    grid-gap: 2px 2px;
}

.titulo-footer{
    font-size: 20px;
    pointer-events: none;
    
}

.suscripcion img{
    width: 32px;
    height: 32px;
}

div .horario{
    font-size: 11px;
    margin-top: 18px
}

div .unico{
    padding-left: 10px;
    padding-top: 20px;
}

div .primero{
    margin-top: 20px;
}

div .separado{
    padding-left: 10px;
}
/*<!-----------------Pagina de Contacto-------------------->*/
.titulo{
    text-align: center;
}

.contacto{
    padding-top: 5px
}

.contacto form{
    display: grid;
    flex-direction: column;
}

.contacto form div{
    flex-direction: "row";
    padding: 3px;
}

.contacto .boton{
    flex-grow: unset;

}

.topico{
    width:300px
}

.texto_consulta{
    width: 550px;
    height: 100px;
}

/*<!-----------------FIN CONTENIDO (OFERTAS)-------------------->*/


/*
header .contenido .espacio1{
    -webkit-flex: 3 1 25%;
           flex: 3 1 25%;
    -webkit-order: 1;
            order: 1;
            display:flex;

}



header .contenido .espacio2{
    -webkit-flex: 3 1 50%;
    flex: 3 1 50%;
    -webkit-order: 2;
    order: 2;
    display:flex;  
    display: -webkit-flex;
    display:         flex;
   -webkit-flex-flow: column;
           flex-flow: column;
    flex-direction: column;
}

header -contenido .espacio2 .texto1{
    -webkit-flex: 1 3 20%;
    flex: 1 3 20%;
    -webkit-order: 1;
    order: 1;
}

header -contenido .espacio2 .texto2{
    -webkit-flex: 1 3 20%;
    flex: 1 3 20%;
    -webkit-order: 2;
    order: 2;
}

header -contenido .espacio2 .boton{
    -webkit-flex: 1 3 60%;
    flex: 1 3 60%;
    -webkit-order: 3;
    order: 3;
}

header .contenido .espacio3{
    -webkit-flex: 3 1 25%;
            flex: 3 1 25%;
    -webkit-order: 3;
            order: 3;
            display:flex;

}


*/



